<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cogitationsoft.findit.mapper.CommentMapper">
	<!--<resultMap id="userResultMap" type="User">
		<result property="protectPhone" column="protect_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="registerTime" column="register_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result property="funName" column="fun_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="avatarPath" column="avatar_path" javaType="java.lang.String" jdbcType="VARCHAR"/>
	</resultMap>-->
	<insert id="insert" parameterType="CommentDO" flushCache="true" statementType="PREPARED">
		<selectKey keyProperty="commentId" order="BEFORE" resultType="java.lang.String">
			select UUID()
		</selectKey>
		INSERT INTO t_comment (comment_id,comment_name,to_name,comment_time,comment,comment_user_id,
		to_user_id)
		VALUES
		(#{commentId},#{commentName},#{toName},#{commentTime},#{comment}, #{commentUserId},#{toUserId})
	</insert>

	<select id="listComment" resultType="CommentDO" parameterType="CommentDO" flushCache="false"
	        useCache="true"
	        timeout="10" fetchSize="256" statementType="PREPARED" resultSetType="FORWARD_ONLY">
		SELECT * FROM t_comment
		<where>
			<if test='toUserId != null and toUserId != ""'>
				to_user_id = #{toUserId}
			</if>

		</where>
	</select>
	<!--
		<select id="listCredentialDO" resultType="CredentialDO" parameterType="CredentialDO" flushCache="false"
				useCache="true"
				timeout="10" fetchSize="256" statementType="PREPARED" resultSetType="FORWARD_ONLY">
			SELECT * FROM t_credential
			<where>
				<if test='credNo != null and credNo != ""'>
					cred_no = #{credNo}
				</if>
				<if test='credName != null and credName != ""'>
					AND cred_name = #{credName}
				</if>
				<if test='credHoldName != null and credHoldName != ""'>
					AND cred_hold_name = #{credHoldName}
				</if>
			</where>
		</select>

		<update id="update" parameterType="UserDO" flushCache="true" statementType="PREPARED" timeout="20">

		</update>

		<delete id="delete" parameterType="String" flushCache="true" statementType="PREPARED" timeout="20">

		</delete>-->

</mapper>