<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cogitationsoft.findit.mapper.LetterMapper">
	<insert id="insert" parameterType="com.cogitationsoft.findit.pojo.LetterDO">
		<selectKey keyProperty="letterId" order="BEFORE" resultType="java.lang.String">
			select UUID()
		</selectKey>
		insert into t_letter (letter_id, create_time, title, content,create_name,to_name)
		values (#{letterId}, #{createTime}, #{title}, #{content}, #{createName}, #{toName})
	</insert>

	<select id="listLetterDO" resultType="LetterDO" parameterType="LetterDO" flushCache="false"
	        useCache="true"
	        timeout="10" fetchSize="256" statementType="PREPARED" resultSetType="FORWARD_ONLY">
		SELECT * FROM t_letter
		<where>
			<if test='title != null and title != ""'>
				cred_no LIKE "%"#{title}"%"
			</if>
		</where>
	</select>

	<select id="listGetLetterDO" resultType="LetterDO" parameterType="String" flushCache="false"
	        useCache="true"
	        timeout="10" fetchSize="256" statementType="PREPARED" resultSetType="FORWARD_ONLY">
		SELECT
		t_letter.*
		FROM
		t_letter
		LEFT JOIN `t_user_letter` ON t_letter.letter_id = t_user_letter.letter_id LEFT JOIN t_user ON t_user.user_id = t_user_letter.user_id
		WHERE
		t_user_letter.user_id = #{id} AND t_user.nickname = t_letter.to_name
	</select>

	<select id="listSentLetterDO" resultType="LetterDO" parameterType="String" flushCache="false"
	        useCache="true"
	        timeout="10" fetchSize="256" statementType="PREPARED" resultSetType="FORWARD_ONLY">
		SELECT
		t_letter.*
		FROM
		t_letter
		LEFT JOIN `t_user_letter` ON t_letter.letter_id = t_user_letter.letter_id
		WHERE
		user_id = #{userId}
	</select>
</mapper>