<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cogitationsoft.findit.mapper.UserMapper">
	<!--<resultMap id="userResultMap" type="User">
		<result property="protectPhone" column="protect_phone" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="registerTime" column="register_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
		<result property="funName" column="fun_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="avatarPath" column="avatar_path" javaType="java.lang.String" jdbcType="VARCHAR"/>
	</resultMap>-->
	<insert id="create" parameterType="UserDO" flushCache="true" statementType="PREPARED">
		INSERT INTO t_user
		( user_id, username, password, nickname, phone, other_connect, head_img,
		register_time, authority, state, sex, age )
		VALUES
		(UUID(),#{username},#{password},#{nickname},#{phone},#{otherConnect},
		#{headImg},#{registerTime},#{authority},#{state},#{sex},#{age})
	</insert>

	<update  id="update" parameterType="UserDO" flushCache="true" statementType="PREPARED" timeout="20">
		UPDATE t_user
		<set>
			<if test='nickname != null and nickname != ""'>
				nickname = #{nickname},
			</if>
			<if test='phone != null and phone != ""'>
				phone = #{phone},
			</if>
			<if test='otherConnect != null and otherConnect != ""'>
				otherConnect = #{otherConnect},
			</if>
			<if test='headImg != null and headImg != ""'>
				headImg = #{headImg},
			</if>
			<if test='sex != null and sex != ""'>
				sex = #{sex},
			</if>
			<if test='age != null and age != ""'>
				age = #{age}
			</if>
		</set>
		<where>
			user_id = #{userId}
		</where>
	</update>

	<select id="getUserDO" resultType="UserDO" parameterType="UserDO" flushCache="false" useCache="true"
	        timeout="10" fetchSize="256" statementType="PREPARED" resultSetType="FORWARD_ONLY">
		SELECT * FROM t_user
		<where>
			<if test="userId ">

			</if>
		</where>
	</select>

	<delete  id="delete" parameterType="String" flushCache="true" statementType="PREPARED" timeout="20">

	</delete>
</mapper>