.accordion {
	width: 100%;
	padding-left: 0;
	max-width: 360px;
	margin: 30px auto 20px;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.accordion .link {
	background-color: #3E423C;
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 15px 15px 15px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	list-style: none;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
.submenu {
	display: none;
	background: #444359;
	font-size: 14px;
}

.submenu li {
	border-bottom: 1px solid #4b4a5e;
}

.submenu a {
	display: block;
	text-decoration: none;
	color: #d9d9d9;
	padding: 12px;
	padding-left: 42px;
	-webkit-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.submenu a:hover {
	background: #b63b4d;
	color: #FFF;
}

.left-menu {

	/* margin-top: -30px; */

	width: 255px;

	height: 500px;

	background-color: #3E4146;
}

.left-menu li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.function-card {

background: #F2F2F2;

width: 262px;

height: 158px;

border-radius: 6px;

margin-left: 40px;

margin-right: 60px;

margin-bottom: 37px;

float: left;
}

.function-list{

background-color: #F0F0F0;

width: 1000px;

margin-left: 40px;

height: 472px;

border-radius: 4px;
}

.function-hr{
	height: 2px;
	width: 95%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 3px solid #eee;
}

.admin-footer{
	display:  block;
	color: white !important;
	width: 100% !important;
	border-radius: 0 !important;
	text-align: center !important;
	background-color: #222222 !important;
	margin-bottom: 0 !important;
}

.table td{
	font-size: 16px;
	height: 47px;
	line-height: 39px;
}

a{
	cursor: pointer;
}

.admin-card-span{
	font-size: 20px;
	margin: 22px;
	font-style: normal;
}
